// white
$white: #fff;
$black: #000;

// base color
$blue-1: #238efa;
$blue-2: #0d74db;
$green-1: #12b881;
$green-2: #0aa370;
$green-3: #057a53;
$indigo-1: #8f8fff;
$indigo-2: #6c6cf5;
$indigo-3: #5353e5;
$indigo-4: #4646c2;
$lime-1: #89c70c;
$lime-2: #759e23;
$orange-1: #fa9237;
$orange-2: #d6721a;
$pink-1: #f549bc;
$pink-2: #d62b9d;
$purple-1: #b061ff;
$purple-2: #9749e5;
$rose-1: #ff6b75;
$rose-2: #f54955;
$rose-3: #d10412;
$teal-1: #04b3d6;
$teal-2: #0095b2;
$yellow-1: #faca0a;
$yellow-2: #c7a004;
$yellow-3: #8a6e00;
