.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--surface);

  &-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-primary);
  }

  &-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
